<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">
<% include ../nav %>
<% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>

<div class="card">
    <div class="card-header">
        Edit Book
    </div>
    <div class="card-body">
        <form action="/books/update/<%= id %>" method="post">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="name" value="<%= book.name %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <select id="author" name="authorId" class="selectpicker form-control" data-live-search="true">
                    <% for(var i = 0; i < authors.length; i++) { %>
                        <% if (book.author.id == authors[i].id) { %>
                            <option selected="selected" value="<%= authors[i].id %>"><%= authors[i].firstName + " " + authors[i].lastName %></option>
                        <% } else{ %>
                                <option value="<%= authors[i].id %>"><%= authors[i].firstName + " " + authors[i].lastName %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="genre">Genre:</label>
                <select id="genre" name="genreId" class="selectpicker form-control" data-live-search="true">
                    <% for(var i = 0; i < genres.length; i++) { %>
                        <% if (book.genre.id == genres[i].id) { %>
                            <option selected="selected" value="<%= genres[i].id %>"><%= genres[i].name %></option>
                        <% } else{ %>
                            <option value="<%= genres[i].id %>"><%= genres[i].name %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Update"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>
